body {
  background-image: url('../img/background.png');
  background-size: 1000px 750px;
  background-repeat: no-repeat;
  position: absolute;
  background-color: #002400;
  font-family: Gill Sans, Verdana;
  color: #866cb0;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);

}

.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  content: url("../img/card-back.png");
}

.hand {
  overflow: auto;
}

.player-hand-container {
  position: absolute;
  top: 500px;
  left: 350px;
  width: 800px;

}
.player-hand-container h2{

  position: absolute;
  left: -350px;
  top:-50px;
  float:left;
}

.dealer-hand-container h2{
  position: absolute;
  left: 0;
  top: 200px;
}



.dealer-hand-container {
  width: 800px;
  margin-left: 350px;
}

.buttons{
  position:absolute;
  left: 350px;
  top: 300px;
  width: 300px;
}
.hit-button{
  margin-right: 50px;
}

.hit-button, .stand-button {
  width:100px; /*same as the height*/
  height:100px; /*same as the width*/
  background-color:#ff0000;
  border:1px solid #ff0000; /*same colour as the background*/
  color:#fff;
  font-size:1.6em;
  /*set the border-radius at half the size of the width and height*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /*give the button a small drop shadow*/
  -webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
  box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}


.hit-button:hover, .stand-button:hover {
  background:#c20b0b;
  border:1px solid #c20b0b;
  /*reduce the size of the shadow to give a pushed effect*/
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}


/*
<div class="container">
    <button class="hit-button">Hit</button> <button class="stand-button">Stand</button>
    <div class="player-hand-container"></div>
    <div class="dealer-hand-container"></div></div>*/
